<div class="dialog-content">
  <form [formGroup]="filterForm">
    <div class="tui-form__row">
      price range ( € /day )
      <tui-input-range
        [min]="0"
        [max]="500"
        [formControl]="priceRange"
        [tuiTextfieldSize]="'m'"
        [tuiTextfieldLabelOutside]="true"
      >
      </tui-input-range>
    </div>
    <div class="tui-form__row">
      distance (min away)
      <tui-input-range
        [min]="0"
        [max]="5000"
        [formControl]="distanceRange"
        [tuiTextfieldSize]="'m'"
        [tuiTextfieldLabelOutside]="true"
      >
      </tui-input-range>
    </div>
    <div class="tui-form__row">
      <br>

      <tui-checkbox-labeled [formControl]="electro" class="label"> electric cars only  </tui-checkbox-labeled>
    </div>
  </form>

  <div class="tui-form__row main-action">
    <button tuiButton (click)="onDone()">Done</button>
  </div>
</div>
