  .dialog-content {
    padding: 2rem;
  }
:host {
  .dialog-content {
    padding: 2rem;

    & .title {
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
      letter-spacing: 0em;
      margin-bottom: 15px;
    }
    & .location {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      margin-bottom: 10px;
    }
    & .price {
      background-color: var(--tui-base-02);
      border-radius: var(--tui-radius-m);
      padding: 5px 20px;
      max-width: 160px;
      margin: 23px auto;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
    }
    & .fuel {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 14px;
    }
    & .carousel {
      & tui-carousel {
        margin-bottom: 4px;
      }
    }
    & .location,
    & .data {
      width: 100%;
      & svg {
        margin-right: 6px;
      }
    }
    & .date-range {
      margin-top: 10px;
    }
    & .total {
      display: flex;
      justify-content: space-between;
    }
    & .card-data {
      padding: 0 30px;
    }
  }
}
.car-data {
  padding-bottom: 10px !important;
}
.summary {
  background-color: var(--tui-base-02);
  padding-top: 10px !important;
}

.main-action {
  margin: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  & button {
    width: 95%;
    margin: 20px 0;
  }

  & .link {
    color: var(--tui-primary);
    text-decoration: underline;
    cursor: pointer;
  }
}

.confirm-dialog{
  display: flex;
  justify-content: space-around;
}
::ng-deep .t-item:before{
    border-radius: 10px !important;
}
