:host {
  & header {
    color: var(--tui-base-01);
    background-color: var(--tui-base-08);
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: Lato;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;

    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
    & > div {
      display: flex;
      align-items: center;
      & > * {
        margin: 0 5px;
      }
    }
  }
  h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }
  .settings {
    background-color: var(--tui-base-01);
    .options {
      background-color: var(--tui-base-02);
      width: 100%;
      text-align: left;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.01em;

      & svg {
        margin-right: 10px;
      }
      ::ng-deep .t-content {
        justify-content: left;
      }
    }
  }
  .list {
    background-color: var(--tui-base-02);

    .subtitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      display: flex;
      justify-content: space-between;

      & .btn {
        cursor: pointer;
      }
    }
    & .item {
      background-color: var(--tui-base-01);
      flex-direction: column;
      margin: 15px 0;
    }
  }
  .no-result {
    cursor: pointer;
    text-align: center;
    padding: 2rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    & svg {
      margin: 0 10px;
    }
  }
}
::ng-deep {
  .t-dialog .t-content {
    padding: 0 !important;
  }
  .t-dialog .date-range .t-content {
    padding: 1rem !important;
  }
}
