<tui-root>
  <header tuiMode="onDark" class="dark">
    <h1>MontenUber</h1>
    <div>
      <button
        tuiButton
        size="s"
        icon="tuiIconFilter"
      >
        Options
      </button>
      <button tuiButton  size="s" icon="tuiIconPlus">
        Add
      </button>
    </div>
  </header>
  <section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus
    adipisci aliquam architecto beatae deserunt dolore dolores ipsam ipsum
    labore necessitatibus nihil numquam odit quibusdam, quidem quisquam sunt
    temporibus tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Ab accusamus adipisci aliquam architecto beatae deserunt dolore
    dolores ipsam ipsum labore necessitatibus nihil numquam odit quibusdam,
    quidem quisquam sunt temporibus tenetur. Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Ab accusamus adipisci aliquam architecto
    beatae deserunt dolore dolores ipsam ipsum labore necessitatibus nihil
    numquam odit quibusdam, quidem quisquam sunt temporibus tenetur. Lorem ipsum
    dolor sit amet, consectetur adipisicing elit. Ab accusamus adipisci aliquam
    architecto beatae deserunt dolore dolores ipsam ipsum labore necessitatibus
    nihil numquam odit quibusdam, quidem quisquam sunt temporibus tenetur. Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus adipisci
    aliquam architecto beatae deserunt dolore dolores ipsam ipsum labore
    necessitatibus nihil numquam odit quibusdam, quidem quisquam sunt temporibus
    tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
    accusamus adipisci aliquam architecto beatae deserunt dolore dolores ipsam
    ipsum labore necessitatibus nihil numquam odit quibusdam, quidem quisquam
    sunt temporibus tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Ab accusamus adipisci aliquam architecto beatae deserunt dolore
    dolores ipsam ipsum labore necessitatibus nihil numquam odit quibusdam,
    quidem quisquam sunt temporibus tenetur.
  </section>
</tui-root>
