:host {
  & a {
    background-color: var(--tui-base-01);
    flex-direction: column;
    margin: 15px 0;
  }
  .announcement {
    display: flex;
    justify-content: space-between;
    & .title {
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
    }
    & .price {
      background-color: var(--tui-base-02);
      border-radius: var(--tui-radius-m);
      padding: 5px 20px;
    }
    & .fuel {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 14px;
    }
    & .carousel {
      max-width: 250px;
      & tui-carousel {
        margin-bottom: 4px;
      }
    }
    & .data {
      width: 100%;
      & svg{
        margin-right: 6px;
      }
      & .no-icon{
        margin-left: 23px;
      }
    }
  }
}
